{% extends "layout.html" %}
{% block content %}
<div class="container-fluid bg-light text-dark">
  <div class="row">
    <div class="col mt-3">
      <div class="text-center">
        <h5 class="display-1" tabindex="1">About US</h5>
      </div>
    </div>
  </div>
  <div class="row About-section1">
    <div class="col-12 col-md-8  p-5">
      <p class="h5" tabindex="1">Approximately two years of experience in the IT industry with data warehousing and ETL tools, utilizing industry-standard methodologies and procedures. Possess a solid understanding of working with IICS (Informatica Intelligent Cloud Services). Expertise in the entire project lifecycle, including analysis, design, development, testing, and implementation of an ETL application. My contributions to this project include the development of the Courses page and CSS code comments.</p>
    </div>
    <div class="col-12 col-md-4 p-2"> 
      <img class="img-fluid  rounded-circle border border-2" src="{{url_for('static', filename='img/About-1.png')}}" width="300" height="300" alt="Yeshwant Image">
      <h5 class="p-2" tabindex="1">Yeshwant Reddy Kesari</h5>
    </div>
  </div>
  <div class="row About-section2">
    <div class="col-12 col-md-8  p-5">
      <p class="h5" tabindex="1">Approximately two years of experience in the IT industry with data warehousing and ETL tools, utilizing industry-standard methodologies and procedures. Possess a solid understanding of working with IICS (Informatica Intelligent Cloud Services). Expertise in the entire project lifecycle, including analysis, design, development, testing, and implementation of an ETL application. My contributions to this project include the development of the Courses page and CSS code comments.</p>
      
    </div>
    <div class="col-12 col-md-4 p-2"> 
      <img class="img-fluid  img-fluid rounded-circle border border-2" src="{{url_for('static', filename='img/About-2.png')}}" width="300" height="300" alt="Shashank Image">
      <h5 class="p-2" tabindex="1">Shashank Rao Gujja</h5>
    </div>
  </div>
  <div class="row About-section3">
    <div class="col-12 col-md-8  p-5">
      <p class="h5" tabindex="1" tabindex="1">Approximately two years of experience in the IT industry with data warehousing and ETL tools, utilizing industry-standard methodologies and procedures. Possess a solid understanding of working with IICS (Informatica Intelligent Cloud Services). Expertise in the entire project lifecycle, including analysis, design, development, testing, and implementation of an ETL application. My contributions to this project include the development of the Courses page and CSS code comments.</p>
    </div>
    <div class="col-12 col-md-4 p-2"> 
      <img class="img-fluid  rounded-circle border border-2" src="{{url_for('static', filename='img/About-3.png')}}" width="300" height="300" alt="Akshay Image">
      <h5 class="p-2" tabindex="1">Penchala Akshay Kumar Kandagaddala</h5>
    </div>
  </div>
  <div class="row About-section4">
    <div class="col-12 col-md-8  p-5">
      <p class="h5" tabindex="1">Approximately two years of experience in the IT industry with data warehousing and ETL tools, utilizing industry-standard methodologies and procedures. Possess a solid understanding of working with IICS (Informatica Intelligent Cloud Services). Expertise in the entire project lifecycle, including analysis, design, development, testing, and implementation of an ETL application. My contributions to this project include the development of the Courses page and CSS code comments.</p>
    </div>
    <div class="col-12 col-md-4 p-2"> 
      <img class="img-fluid  rounded-circle border border-2" src="{{url_for('static', filename='img/About-4.jpg')}}" width="300" height="300" alt="Srikumar Image">
      <h5 class="p-2" tabindex="1">Sri Kumar Dundigalla</h5>
    </div>
  </div>
  
</div>
{% endblock %}







  
