{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row section1">
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 text-center p-3">
            <h1 class="display">Universal Learning</h1>
          </div>
          <div class="row">
            <div class="col-md-12  p-3">
              <h3 class="text-center">Our platform offers a wide range of courses for learners of all skill levels and strives to create a user-friendly environment. We promote continuous learning and foster a culture of growth and development within our organization.</h3>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="../static/img/section1.png" alt="Universal Learning Section Image" width="300" height="600">
    </div>
  </div>
  <div class="row section2">
    <div class="col-md-6">
      <img class="img-fluid" src="../static/img/section2.png" alt="Universal Learning Section Image" width="600" height="600">
    </div>
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 text-center p-3">
            <h1 class="display">Diverse course offerings</h1>
          </div>
          <div class="row">
            <div class="col-md-12  p-3">
              <h3 class="text-center">We provide comprehensive training in various domains, including Business, technology, arts, language learning, and many more to help our employees achieve their professional and personal goals.</h3>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row section3">    
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 text-center p-3">
            <h1 class="display">Experienced instructors</h1>
          </div>
          <div class="row">
            <div class="col-md-12  p-3">
              <h3 class="text-center">Having a team of experienced and knowledgeable instructors we aim to provide quality learning experiences helping learners succeed and providing guidance to achieve their learning goals.</h3>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="../static/img/section3.png" alt="Universal Learning Section Image" width="600" height="600">
    </div>
  </div>
  <div class="row section4">
    <div class="col-md-6 text-center">
      <img class="img-fluid" src="../static/img/section4.png" alt="Universal Learning Section Image" width="400" height="600">
    </div>
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 text-center p-3">
            <h1 class="display">Flexible learning</h1>
          </div>
          <div class="row">
            <div class="col-md-12  p-3">
              <h3 class="text-center">Our courses are designed to have flexible learning making them accessible online from anywhere at any time at your own pace. Join us and experience the power of flexible learning to transform your education and your life.</h3>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row section5">
    
    <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 text-center p-3">
            <h1 class="display">Certification Programs</h1>
          </div>
          <div class="row">
            <div class="col-md-12  p-3">
              <h3 class="text-center">Learners can receive a certificate on completing each course to recognize their achievements and showcase their skills to potential employers and enhance their credentials. All our certification programs are practical, project-based, and relevant to the current job market.</h3>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4 p-2 text-center">
      <img class="img-fluid" src="../static/img/section5.png" alt="Universal Learning Section Image" width="300" height="600">
    </div>
  </div>
  <div class="row section6">
    <div class="col-md-4 text-center">
      <img class="img-fluid" src="../static/img/section6.png"  alt="Universal Learning Section Image" width="300">
    </div>
    <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 text-center p-3">
            <h1 class="display">Community support</h1>
          </div>
          <div class="row">
            <div class="col-md-12  p-3">
              <h3 class="text-center">The learning place fosters a sense of community among our learners and provides them all resources to support each other and share their learning experiences. We also encourage networking, collaboration, and mentorship among our learners to help them reach their full potential.</h3>
            </div>
          </div>
        </div>
    </div>
  </div>    
</div>
<script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}



    



