{% from "displaycard.html" import displayCard %}
{% extends "layout2.html" %}
{% block content %}
    <div class="container-fluid">
        {% if not rows[0] %}
        <div class="row justify-content-center">
            <div class="col-12">
              
                  <h1 class="p-5 display-1 text-secondary text-center">Cart is Empty<i class="bi bi-cart-dash ms-1"></i></h1>
        
            </div>
          </div>
        {% endif %}
        {% if rows[0] %}
        <div class="row">
            <div class="col-8 p-5">
                <h1>Courses Added</h1>
                <div class="row rounded-3 overflow-auto border-info border-5" style="height:500px">
                        {% for row in rows[0] %}
                            {{displayCard(row)}}
                        {% endfor %}
                </div>
            </div>
            
            <div class="col-4">
                <h1 class="pt-5">List Of Course Adeed To cart</h1>
                <form method="post" action="{{ url_for('mycourses') }}">
                    <Ol class="list-group list-group-flush">
                    {% for row in rows[0] %}
                    <li class="list-group-item">
                        <div class="mb-3">

                            <div class="input-group">
                                <label for="{{row[1]}}" class="form-label h5">{{row[1]}}</label>
                                <input value="{{row[1]}}" type="text" name="coursetitle" class="form-control" id="{{row[1]}}" aria-describedby="name" hidden>
                                <span class="h5 ms-1">Cost:  <span>{{row[3]}}$</span></span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="list-group-item"><p class="h1 bold float-end pe-5">{{rows[1]}}$</p></li>
                    </Ol>
                    <div class="mb-3 pt-3">
                        <button type="submit" class="btn btn-primary btn-lg">Pay Now</button>
                    </div>
                </form>
            </div>
           
        </div>
        {% endif %}
    </div>
{% endblock %}