{% macro reviewcard(data) %}
<div class="col-sm-6 p-2">
    <div class="card text-white bg-secondary">
        <div class="card-body">
            <h5 class="card-title" tabindex="1">{{data[0]}}</h5>
            <p class="card-text" tabindex="1">{{data[1]}}</p>
            <div>
                {% for row in range(data[2]) %}
                <i class="bi bi-star-fill" aria-describedby="Start Rating rated" tabindex="1"></i>
                {% endfor %}
                {% for row in range(5-data[2]) %}
                <i class="bi bi-star" aria-describedby="Start rating not rated" tabindex="1"></i>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}
