{% from "reviewscard.html" import reviewcard %}
{% extends "layout.html" %}
{% block content %}
<body class="bg-light"> 

<div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                    <div class="container-fluid py-5 bg-info">
                      <h5 class="fw-bold fs-4" id="slogin" tabindex="1">Thank you for joining The Learning Place,{{msg}}!!!</h5>
                      <p class="col-md-8 fs-4" tabindex="1">Welcome to The Learning Place, it is a good start for a welcome page, as it is polite and personalizes the message for the user. However, if you want to make the welcome page more inspiring and engaging, you could consider adding more details about The Learning Place and how it can benefit the user.</p>
                      <a href="{{ url_for('login') }}"><button class="btn btn-light" type="button">Start Learning</button></a>
                    </div>
                  </div>
            </div>
        </div>
</div>

{% endblock %}
